<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orafaraujo.features.home">

    <application>
w        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="com.orafaraujo.featuremodulestudy.features.home" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
